{% extends "base.html" %}
{% block content %}
    <h1>メモアプリ</h1>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>タイトル</td>
                    <td>本文</td>
                </tr>
            </thead>
            <tbody>
                {% for content in contents %}
                    <tr>
                        <td>{{content.id}}</td>
                        <td>{{content.title}}</td>
                        <td>{{content.body}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}